#external {
  background-color: blue;
  font-size: 20px;
  color: burlywood;
}
.test-content-box {
  width: 800px;
  padding: 20px;
  margin: 10px;
  box-sizing: content-box;
}
.test-border-box {
  width: 600px;
  box-sizing: border-box;
  border: 2px solid red;
  padding: 20px;
  margin: 20px;
}
p {
  margin: 0;
}
