p {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 10px;
  padding: 50px;
  background: radial-gradient(ellipse, green, yellow);
  /* opacity: 0.5; */
}
div {
  width: 400px;
  border: 1px solid red;
}
p.first {
  color: rgba(255, 0, 0, 1);
  text-indent: 20px;
  background: linear-gradient(to left, red, yellow);
}
