.box {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: spin_element 3s linear infinite alternate-reverse;
  margin: 0 auto;
  margin-top: 100px;
}

/* Animation */
@keyframes spin_element {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.box2 {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: mover 3s linear forwards;
  margin: 0 auto;
  margin-top: 100px;
}

/* Animation */
@keyframes mover {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(180px, 0);
  }
}

.box3 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: move-box3 5s linear infinite;
  margin: 0 auto;
}

/* Animation */
@keyframes move-box3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  75% {
    transform: translate(0, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Loading */
.loading {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: blue;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  clip-path: circle(45%);
}
.loading__span {
  position: relative;
  z-index: 3;
  color: #fff;
}
.loading::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  clip-path: circle(40%);
  background-color: black;
  z-index: 2;
}

.loading::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: yellow;
  z-index: 1;
  clip-path: inset(0 50% 50% 0);
  /* animation: spin_element 2s 1s linear infinite; */
  animation: spin_element 2s ease-in-out 1s infinite;
}

.loading-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 400px;
}

.spiner {
  --size: 200px;
  --first-color: blue;
  --second-color: yellow;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  animation: spin-element 2s ease-in-out infinite;
}

.spiner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  translate: -50% -50%;
  border: 20px solid var(--first-color);
  border-top-color: var(--second-color);
  border-radius: 50%;
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin_element {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes spin {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
